outputs/
*.pyc
__pycache__
multirun/
.vscode/settings.json
pyrightconfig.json
outputs_archive
evaluate/**/*.png
evaluate/**/*.pdf
evaluate/**/*.py
cache
viz
wandb
embeddings/
checkpoints_coop/
checkpoints/
.DS_Store
